<div class="container">
  	<h1>{{post?.id}}: {{post?.title}}</h1>
  	<p>Author: {{post?.author.username}}</p>
  	<p>Description: {{post?.body}}</p>Description: 

	<h5>Comments:</h5>
	<ul class="list-group">
		<li class="list-group-item" *ngFor="let comment of comments"> 
			<div>{{comment.name}}</div> 
			<div class="comment-email">{{comment.email}}</div>
		</li>
	</ul>
</div>
