<table id="posts" class="table" *ngIf="!isLoading">
	<tbody>
		<tr>
			<th>LP</th>
			<th>Title</th>
			<th>Author</th>
			<th>Body</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor="let item of posts; let i = index">
			<td>{{i+1}}</td>
			<td>{{item.title}}</td>
			<td>{{item.author.username}}</td>
			<td>{{item.body}}</td>
			<td>
				<a routerLink="/posts/{{item.id}}">Show details</a>
			</td>
		</tr>
	</tbody>
</table>